<div class="nav-section bg-secondary text-secondary">
  <span class="nav-item"><%= image_tag("logos/logo.png", height: 50, width: 50) %></span>
  <div class="text-secondary">
    <% if current_user %>
      <%= link_to "Home", root_path, class: "nav-item" %>
      <%= link_to "Edit account", edit_user_registration_path, class: "nav-item" %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "nav-item" %>
      <% else %><%= link_to "Sign in", new_user_session_path, class: "nav-item" %><%= link_to "Sign up", new_user_registration_path, class: "nav-item" %>
    <% end %>
  </div>
</div>

